.Info {
  padding: 1em;
}

.Info h1 {
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.Info h1:first-child {
  margin-top: 0;
}

.Info .Panel {
  font-size: 1.5em;
}

.Info h1 + .Panel {
  margin-top: 1em;
}
