.Info {
  flex-direction: column-reverse;
  padding: 1em;
}

.Info > .Sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Info > .Sidebar > .Panel:first-child ul {
  list-style: disc;
}

.Info > .body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.Info h1 {
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.Info h1 + .Panel {
  margin-top: 1em;
}

.Info iframe {
  pointer-events: auto;
}

.Info .ReactTable {
  pointer-events: auto;
}

.Info .ReactTable .rt-th:not(:nth-child(3)) {
  flex: 0 !important;
  min-width: 12em !important;
  max-width: 12em !important;
}

.Info .ReactTable .rt-td:not(:nth-child(3)) {
  flex: 0 !important;
  min-width: 12em !important;
  max-width: 12em !important;
}

.Info .ReactTable .rt-td {
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (orientation: landscape) {
  .Info {
    flex-direction: row;
    padding: 0;
  }

  .Info > .Sidebar {
    width: 33%;
    /* background: linear-gradient(
      90deg,
      rgba(0, 137, 190, 0) 0,
      rgba(121, 190, 0, 0.15) 100%
    ); */
    padding-bottom: 2em;
    padding-top: 1em;
  }

  .Info > .body {
    /* background: linear-gradient(
      90deg,
      rgba(0, 137, 190, 0.15) 0,
      rgba(121, 190, 0, 0) 100%
    ); */
    padding-bottom: 2em;
    padding-left: 1em;
    padding-top: 1em;
  }

  .Info > .Sidebar > .Panel {
    margin-top: 0.5em;
  }

  .Info > .Sidebar > .Panel > .Panel-content {
    font-size: 0.8em;
  }

  .Info > .Sidebar > .Panel:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .Info h1:first-child {
    margin-top: 0;
  }
}
