.AppNav {
  background: inherit;
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.33em;
  justify-content: flex-start;
  transition: font-size 0.5s;
}

.AppNav.fixed {
  position: fixed;
  left: 1.32vh;
  right: 1.32vh;
  width: calc(100% - 2.64vh);
  z-index: 3;
  font-size: 0.67em;
}

.AppNav > .logo {
  width: 2.5em;
  font-size: 5em;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AppNav > .menu {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  z-index: 1;
  height: 5em;
}

.AppNav > .menu > .menu-toggle {
  width: 1em;
  height: 1em;
  font-size: 3em;
  margin: 0.5em;
}

.AppNav > .menu > .current {
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AppNav.fixed > .menu > .menu-list {
  font-size: 2em;
  top: 2.5em;
}

.AppNav > .menu > .menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  top: 5em;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 400ms opacity;
  background: white;
}

.AppNav > .menu > .menu-list.visible {
  max-width: none;
  max-height: none;
  opacity: 1;
}

.AppNav > .menu > .menu-list > a,
.AppNav > .menu > .menu-list > div {
  transition: 200ms color, 200ms background-color;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  text-decoration: none !important;
}

.AppNav > .menu > .menu-list > div {
  cursor: default;
  font-style: italic;
}

.AppNav > .menu > .menu-list > a > span,
.AppNav > .menu > .menu-list > div > span {
  font-size: 1.4em;
}

.AppNav > .menu > .menu-list > a > span > .Icon,
.AppNav > .menu > .menu-list > div > span > .Icon {
  margin-right: 0.75em;
  color: rgba(0, 0, 0, 0.5);
}

.AppNav > .list {
  flex: 1;
  height: 5em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.AppNav > .list > a,
.AppNav > .list > div {
  transition: 200ms color, 200ms background-color;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none !important;
  margin-right: 0.5em;
  position: relative;
}

.AppNav > .list > a > span,
.AppNav > .list > div > span {
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.AppNav > .menu > .current > .Icon,
.AppNav > .list > a > .Icon,
.AppNav > .list > div > .Icon {
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  font-size: 3em;
}

.AppNav > .list > div {
  cursor: default;
  font-weight: bold;
}

.AppNav > .list > a:hover {
  background-color: rgba(121, 190, 0, 0.33);
  color: black;
}
