.AppNav {
  background: inherit;
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6em;
}

.AppNav > .logo {
  width: 2.5em;
  font-size: 5em;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AppNav > .menu {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  z-index: 1;
}

.AppNav > .menu > .menu-toggle {
  width: 1em;
  height: 1em;
  font-size: 3em;
  margin: 0.5em;
}

.AppNav > .menu > .current {
  font-size: 1.4em;
  font-weight: bold;
  flex: 1;
}

.AppNav > .menu > .menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  top: 6em;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 400ms opacity;
  background: white;
}

.AppNav > .menu > .menu-list.visible {
  max-width: none;
  max-height: none;
  opacity: 1;
}

.AppNav > .menu > .menu-list > a,
.AppNav > .menu > .menu-list > div {
  transition: 200ms color, 200ms background-color;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  text-decoration: none !important;
}

.AppNav > .menu > .menu-list > div {
  cursor: default;
  font-style: italic;
}

.AppNav > .menu > .menu-list > a > span,
.AppNav > .menu > .menu-list > div > span {
  font-size: 1.4em;
}

.AppNav > .list {
  flex: 1;
  height: 5em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.AppNav > .list > a,
.AppNav > .list > div {
  transition: 200ms color, 200ms background-color;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  text-decoration: none !important;
  margin-right: 0.5em;
}

.AppNav > .list > a > span,
.AppNav > .list > div > span {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.AppNav > .list > div {
  cursor: default;
  font-weight: bold;
}

.AppNav > .list > a:hover {
  background-color: rgba(121, 190, 0, 0.67);
  color: black;
}
